In [107]:
import collections

In [108]:
from optimus import Optimus
op= Optimus()

In [109]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('optimus').getOrCreate()
op= Optimus(spark)

In [110]:
from pyspark.sql.types import *
from datetime import date, datetime

In [111]:
import pandas as pd
import time
import os
import csv
from numpy import array
from pyspark import SparkContext, SparkConf
import re
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
from pyspark.sql import functions as F
from pyspark.sql.types import *
import numpy as np

In [112]:
df1 = pd.read_csv('weather01.txt', delimiter =r"\s+")
df2 = pd.read_csv('weather02.txt', delimiter =r"\s+")
df3 = pd.read_csv('weather03.txt', delimiter =r"\s+")
df4 = pd.read_csv('weather04.txt', delimiter=r"\s+")
df5 = pd.read_csv('weather05.txt', delimiter=r"\s+")
df6 = pd.read_csv('weather06.txt', delimiter=r"\s+")

In [113]:
new_row = pd.concat([df1, df2, df3, df4, df5, df6], axis = 1, sort= False)

In [114]:
new_row.columns

Index(['X', 'year', 'month', 'measure', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6',
       'X7', 'X8', 'X9', 'X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16',
       'X17', 'X18', 'X19', 'X20', 'X21', 'X22', 'X23', 'X24', 'X25', 'X26',
       'X27', 'X28', 'X29', 'X30', 'X31'],
      dtype='object')

In [115]:
type(new_row)

pandas.core.frame.DataFrame

In [116]:
new_row.dtypes

X           int64
year        int64
month       int64
measure    object
X1         object
X2         object
X3         object
X4         object
X5         object
X6         object
X7         object
X8         object
X9         object
X10        object
X11        object
X12        object
X13        object
X14        object
X15        object
X16        object
X17        object
X18        object
X19        object
X20        object
X21        object
X22        object
X23        object
X24        object
X25        object
X26        object
X27        object
X28        object
X29        object
X30        object
X31        object
dtype: object

In [117]:
mySchemas = StructType([ StructField("X", IntegerType(), True)\
                       ,StructField("year", IntegerType(), True)\
                       ,StructField("month", IntegerType(), True)\
                       ,StructField("measure", StringType(), True)\
                       ,StructField("X1", StringType(), True)\
                       ,StructField("X2", StringType(), True)\
                       ,StructField("X3", StringType(), True)\
                       ,StructField("X4", StringType(), True)\
                       ,StructField("X5", StringType(), True)\
                       ,StructField("X6", StringType(), True)\
                       ,StructField("X7", StringType(), True)\
                       ,StructField("X8", StringType(), True)\
                       ,StructField("X9", StringType(), True)\
                       ,StructField("X10", StringType(), True)\
                       ,StructField("X11", StringType(), True)\
                       ,StructField("X12", StringType(), True)\
                       ,StructField("X13", StringType(), True)\
                       ,StructField("X14", StringType(), True)\
                       ,StructField("X15", StringType(), True)\
                       ,StructField("X16", StringType(), True)\
                       ,StructField("X17", StringType(), True)\
                       ,StructField("X18", StringType(), True)\
                       ,StructField("X19", StringType(), True)\
                       ,StructField("X20", StringType(), True)\
                       ,StructField("X21", StringType(), True)\
                       ,StructField("X22", StringType(), True)\
                       ,StructField("X23", StringType(), True)\
                       ,StructField("X24", StringType(), True)\
                       ,StructField("X25", StringType(), True)\
                       ,StructField("X26", StringType(), True)\
                       ,StructField("X27", StringType(), True)\
                       ,StructField("X28", StringType(), True)\
                       ,StructField("X29", StringType(), True)\
                       ,StructField("X30", StringType(), True)\
                       ,StructField("X31", StringType(), True)])

In [118]:
df = spark.createDataFrame(new_row,schema=mySchemas)
#df.dtypes
df.printSchema()

root
 |-- X: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- measure: string (nullable = true)
 |-- X1: string (nullable = true)
 |-- X2: string (nullable = true)
 |-- X3: string (nullable = true)
 |-- X4: string (nullable = true)
 |-- X5: string (nullable = true)
 |-- X6: string (nullable = true)
 |-- X7: string (nullable = true)
 |-- X8: string (nullable = true)
 |-- X9: string (nullable = true)
 |-- X10: string (nullable = true)
 |-- X11: string (nullable = true)
 |-- X12: string (nullable = true)
 |-- X13: string (nullable = true)
 |-- X14: string (nullable = true)
 |-- X15: string (nullable = true)
 |-- X16: string (nullable = true)
 |-- X17: string (nullable = true)
 |-- X18: string (nullable = true)
 |-- X19: string (nullable = true)
 |-- X20: string (nullable = true)
 |-- X21: string (nullable = true)
 |-- X22: string (nullable = true)
 |-- X23: string (nullable = true)
 |-- X24: string (nullable = true)
 |-- X25: string (nullable = true)
 |-- X26: string (nullable = true)
 |-- X27: string (nullable = true)
 |-- X28: string (nullable = true)
 |-- X29: string (nullable = true)
 |-- X30: string (nullable = true)
 |-- X31: string (nullable = true)

In [119]:
df.table(5)

In [105]:
op.spark